## EDA

In [2]:
import pandas as pd

## Информация о данных исходного датасета

Датасет **_data.csv** представляет собой информацию по объявлениям об аренде квартир в Москве. Набор данных содержит сведения о типе недвижимости, расположении объекта, его основных характеристиках и условиях аренды.

In [34]:
df = pd.read_csv('/home/anya/ds_bootcamp/Streamlit_rent_real_estate/_data.csv')
df.head()

,Unnamed: 0,ID объявления,Количество комнат,Тип,Метро,Адрес,"Площадь, м2",Дом,Парковка,Цена,...,Окна,Санузел,Можно с детьми/животными,Дополнительно,Название ЖК,Серия дома,"Высота потолков, м",Лифт,Мусоропровод,Ссылка на объявление
0,0,271271157,4,Квартира,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0/20.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",...,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",NaN,3.0,"Пасс (4), Груз (1)",Да,https://www.cian.ru/rent/flat/271271157
1,1,271634126,4,Квартира,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0/95.0/18.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",...,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.5,"Пасс (1), Груз (1)",Нет,https://www.cian.ru/rent/flat/271634126
2,2,271173086,"4, Оба варианта",Квартира,м. Смоленская (7 мин пешком),"Москва, улица Новый Арбат, 27",200.0/116.0/4.0,5/16,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",...,На улицу и двор,Совмещенный (3),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.2,Пасс (1),NaN,https://www.cian.ru/rent/flat/271173086
3,3,272197456,"4, Оба варианта",Квартира,м. Смоленская (3 мин пешком),"Москва, переулок Плотников, 21С1",170.0/95.0/17.0,5/6,подземная,"400000.0 руб./ За месяц, Залог - 400000 руб., ...",...,На улицу и двор,Совмещенный (3),Можно с животными,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",NaN,NaN,3.2,Пасс (1),NaN,https://www.cian.ru/rent/flat/272197456
4,4,273614615,2,Квартира,м. Арбатская (7 мин пешком),"Москва, улица Новый Арбат, 15",58.0/38.0/5.0,"12/26, Панельный",NaN,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",...,На улицу и двор,Совмещенный (2),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",The Book,NaN,3.9,"Пасс (1), Груз (1)",Да,https://www.cian.ru/rent/flat/273614615

### Сводная информация о наборе данных

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23368 entries, 0 to 23367
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                23368 non-null  int64
 1   ID  объявления            23368 non-null  int64
 2   Количество комнат         22327 non-null  object
 3   Тип                       23368 non-null  object
 4   Метро                     22053 non-null  object
 5   Адрес                     23368 non-null  object
 6   Площадь, м2               23368 non-null  object
 7   Дом                       23368 non-null  object
 8   Парковка                  9951 non-null   object
 9   Цена                      23368 non-null  object
 10  Телефоны                  23368 non-null  object
 11  Описание                  23368 non-null  object
 12  Ремонт                    20613 non-null  object
 13  Площадь комнат, м2        14458 non-null  object
 14  Балкон                    15390 non-null  object
 15  Окна                      16755 non-null  object
 16  Санузел                   20696 non-null  object
 17  Можно с детьми/животными  17272 non-null  object
 18  Дополнительно             23011 non-null  object
 19  Название ЖК               5848 non-null   object
 20  Серия дома                2163 non-null   object
 21  Высота потолков, м        11206 non-null  float64
 22  Лифт                      17868 non-null  object
 23  Мусоропровод              12846 non-null  object
 24  Ссылка на объявление      23368 non-null  object
dtypes: float64(1), int64(2), object(22)
memory usage: 4.5+ MB

# Размер набора данных

In [28]:
print('Количество строк в датасете:', df.shape[0])

Количество строк в датасете: 23368

In [29]:
print('Количество столбцов:', df.shape[1])

Количество столбцов: 25

### Столбцы датасета содержат следующую информацию:

In [39]:
column_names = list(df.columns.values)
print(*column_names, sep='\n ')

Unnamed: 0
 ID  объявления
 Количество комнат
 Тип
 Метро
 Адрес
 Площадь, м2
 Дом
 Парковка
 Цена
 Телефоны
 Описание
 Ремонт
 Площадь комнат, м2
 Балкон
 Окна
 Санузел
 Можно с детьми/животными
 Дополнительно
 Название ЖК
 Серия дома
 Высота потолков, м
 Лифт
 Мусоропровод
 Ссылка на объявление

Набор данных не содержит повторяющихся объявлений, все ID являются уникальными:

In [12]:
df['ID  объявления'].unique().shape[0] == df.shape[0]

True

## Количество пропущенных значений

In [14]:
pd.DataFrame(df.isnull().sum().sort_values(ascending=False), columns=['количество пропущенных значений'])

                          количество пропущенных значений
Серия дома                                          21205
Название ЖК                                         17520
Парковка                                            13417
Высота потолков, м                                  12162
Мусоропровод                                        10522
Площадь комнат, м2                                   8910
Балкон                                               7978
Окна                                                 6613
Можно с детьми/животными                             6096
Лифт                                                 5500
Ремонт                                               2755
Санузел                                              2672
Метро                                                1315
Количество комнат                                    1041
Дополнительно                                         357
Unnamed: 0                                              0
ID  объявления                                          0
Описание                                                0
Телефоны                                                0
Цена                                                    0
Дом                                                     0
Площадь, м2                                             0
Адрес                                                   0
Тип                                                     0
Ссылка на объявление                                    0

Принимая во внимание количество пропущенных значений и цели нашего исследования, было решено, что информация в следующих колонках не представляет для нас практического интереса:
- Телефоны
- Описание
- Unnamed: 0
- Серия дома
- Ссылка на объявление
- Название ЖК
- Площадь комнат, м2

In [31]:
df_cut = df = df.drop(columns=['Телефоны', 'Описание', 'Unnamed: 0', 'Серия дома', 'Ссылка на объявление', 'Название ЖК', 'Площадь комнат, м2'])
df_cut.head()

,ID объявления,Количество комнат,Тип,Метро,Адрес,"Площадь, м2",Дом,Парковка,Цена,Ремонт,Балкон,Окна,Санузел,Можно с детьми/животными,Дополнительно,"Высота потолков, м",Лифт,Мусоропровод
0,271271157,4,Квартира,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0/20.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Дизайнерский,NaN,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...",3.0,"Пасс (4), Груз (1)",Да
1,271634126,4,Квартира,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0/95.0/18.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Дизайнерский,NaN,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",3.5,"Пасс (1), Груз (1)",Нет
2,271173086,"4, Оба варианта",Квартира,м. Смоленская (7 мин пешком),"Москва, улица Новый Арбат, 27",200.0/116.0/4.0,5/16,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Евроремонт,NaN,На улицу и двор,Совмещенный (3),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",3.2,Пасс (1),NaN
3,272197456,"4, Оба варианта",Квартира,м. Смоленская (3 мин пешком),"Москва, переулок Плотников, 21С1",170.0/95.0/17.0,5/6,подземная,"400000.0 руб./ За месяц, Залог - 400000 руб., ...",Евроремонт,NaN,На улицу и двор,Совмещенный (3),Можно с животными,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",3.2,Пасс (1),NaN
4,273614615,2,Квартира,м. Арбатская (7 мин пешком),"Москва, улица Новый Арбат, 15",58.0/38.0/5.0,"12/26, Панельный",NaN,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",Евроремонт,NaN,На улицу и двор,Совмещенный (2),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",3.9,"Пасс (1), Груз (1)",Да

## Колонки которые можем перевести в числовые значения"

Колонка 'цена': оставляем только цену за месяц; коммунальные услуги вынесем в отдельную колонку (True, False); срок аренды, также в отельную колонку

Гистограмма: валюта

Колонка 'Площадь': пример, оставляем общую площадь

Количество комнат: оставим только количество, заполним NaN

Гистограмма по количеству комнат

## Категориальные метки

Перечислить колонки, графики зависимости цены от каждой категории, количество значений каждой категории