In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import re

### Читаем данные записываем в переменную df

In [2]:
df = pd.read_csv('_data.csv')

In [3]:
df

,Unnamed: 0,ID объявления,Количество комнат,Тип,Метро,Адрес,"Площадь, м2",Дом,Парковка,Цена,...,Окна,Санузел,Можно с детьми/животными,Дополнительно,Название ЖК,Серия дома,"Высота потолков, м",Лифт,Мусоропровод,Ссылка на объявление
0,0,271271157,4,Квартира,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0/20.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",...,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",NaN,3.00,"Пасс (4), Груз (1)",Да,https://www.cian.ru/rent/flat/271271157
1,1,271634126,4,Квартира,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0/95.0/18.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",...,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.50,"Пасс (1), Груз (1)",Нет,https://www.cian.ru/rent/flat/271634126
2,2,271173086,"4, Оба варианта",Квартира,м. Смоленская (7 мин пешком),"Москва, улица Новый Арбат, 27",200.0/116.0/4.0,5/16,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",...,На улицу и двор,Совмещенный (3),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.20,Пасс (1),NaN,https://www.cian.ru/rent/flat/271173086
3,3,272197456,"4, Оба варианта",Квартира,м. Смоленская (3 мин пешком),"Москва, переулок Плотников, 21С1",170.0/95.0/17.0,5/6,подземная,"400000.0 руб./ За месяц, Залог - 400000 руб., ...",...,На улицу и двор,Совмещенный (3),Можно с животными,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",NaN,NaN,3.20,Пасс (1),NaN,https://www.cian.ru/rent/flat/272197456
4,4,273614615,2,Квартира,м. Арбатская (7 мин пешком),"Москва, улица Новый Арбат, 15",58.0/38.0/5.0,"12/26, Панельный",NaN,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",...,На улицу и двор,Совмещенный (2),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",The Book,NaN,3.90,"Пасс (1), Груз (1)",Да,https://www.cian.ru/rent/flat/273614615
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23363,23363,215565511,NaN,Квартира,м. Говорово (8 мин пешком),"Москва, Боровское шоссе, 2к7, ш. Боровское (3 ...",35.0/16.4/8.0,10/14,NaN,"42000.0 руб./ За месяц, Залог - 42000 руб., Ко...",...,NaN,Совмещенный (1),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Сти...",Мещерский лес,NaN,NaN,"Пасс (1), Груз (1)",NaN,https://www.cian.ru/rent/flat/215565511
23364,23364,274654844,1,Квартира,м. Солнцево (7 мин пешком),"Москва, Производственная улица, 8к1, ш. Боровс...",38.7/16.5/11.0,"5/18, Монолитный",NaN,"45000.0 руб./ За месяц, Залог - 45000 руб., Ко...",...,Во двор,Совмещенный (1),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Сти...",Лучи,NaN,NaN,"Пасс (1), Груз (1)",NaN,https://www.cian.ru/rent/flat/274654844
23365,23365,268679909,"2, Оба варианта",Квартира,м. Солнцево (6 мин пешком),"Москва, Боровский проезд, 11",43.1,"5/5, Кирпичный",NaN,"50000.0 руб./ За месяц, Залог - 50000 руб., Ко...",...,На улицу и двор,Совмещенный (1),Можно с детьми,"Мебель на кухне, Душевая кабина, Стиральная ма...",NaN,NaN,NaN,NaN,NaN,https://www.cian.ru/rent/flat/268679909
23366,23366,274807525,2,Квартира,м. Солнцево (11 мин пешком),"Москва, улица Богданова, 6к1, ш. Боровское (3 ...",52.5/10.0,"8/23, Монолитный",наземная,"55000.0 руб./ За месяц, Залог - 50000 руб., Ко...",...,Во двор,"Совмещенный (1), Раздельный (1)",NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Сти...",NaN,NaN,2.65,Пасс (3),Да,https://www.cian.ru/rent/flat/274807525
23367,23367,274672243,"2, Оба варианта",Квартира,м. Говорово (10 мин пешком),"Москва, улица Богданова, 2к1, ш. Боровское (3 ...",90.0/48.2/15.5,"6/23, Панельный",NaN,"57000.0 руб./ За месяц, Залог - 60000 руб., Ко...",...,Во двор,Раздельный (1),"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Сти...",NaN,NaN,NaN,Пасс (3),Да,https://www.cian.ru/rent/flat/274672243

### Удаляем незначемые колонки

In [3]:
df = df.drop(columns=['Тип', 'Телефоны', 'Описание', 'Unnamed: 0', 'Серия дома', 'Ссылка на объявление', 'Название ЖК', 'Площадь комнат, м2'])

In [5]:
df.head()

,ID объявления,Количество комнат,Метро,Адрес,"Площадь, м2",Дом,Парковка,Цена,Ремонт,Балкон,Окна,Санузел,Можно с детьми/животными,Дополнительно,"Высота потолков, м",Лифт,Мусоропровод
0,271271157,4,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0/20.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Дизайнерский,NaN,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...",3.0,"Пасс (4), Груз (1)",Да
1,271634126,4,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0/95.0/18.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Дизайнерский,NaN,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",3.5,"Пасс (1), Груз (1)",Нет
2,271173086,"4, Оба варианта",м. Смоленская (7 мин пешком),"Москва, улица Новый Арбат, 27",200.0/116.0/4.0,5/16,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Евроремонт,NaN,На улицу и двор,Совмещенный (3),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",3.2,Пасс (1),NaN
3,272197456,"4, Оба варианта",м. Смоленская (3 мин пешком),"Москва, переулок Плотников, 21С1",170.0/95.0/17.0,5/6,подземная,"400000.0 руб./ За месяц, Залог - 400000 руб., ...",Евроремонт,NaN,На улицу и двор,Совмещенный (3),Можно с животными,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",3.2,Пасс (1),NaN
4,273614615,2,м. Арбатская (7 мин пешком),"Москва, улица Новый Арбат, 15",58.0/38.0/5.0,"12/26, Панельный",NaN,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",Евроремонт,NaN,На улицу и двор,Совмещенный (2),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",3.9,"Пасс (1), Груз (1)",Да

### Фильтруем DataFrame по Москве

In [4]:
df['Адрес'].value_counts()

Москва, Чапаевский переулок, 3                                       63
Москва, улица Василисы Кожиной, 13                                   46
Москва, улица 1-я Леонова, 18                                        42
Москва, Мосфильмовская улица, 8                                      37
Москва, Гостиничный проезд, 8К1                                      32
                                                                     ..
Краснодарский край, Сочи, Центральный мкр, улица Навагинская, 11А     1
Краснодарский край, Сочи, Центральный мкр, улица Нагорная, 19А        1
Краснодарский край, Сочи, Вишневая улица, 4                           1
Краснодарский край, Сочи, Заречный мкр, улица Чайковского, 2          1
Москва, Боровский проезд, 11                                          1
Name: Адрес, Length: 12850, dtype: int64

In [5]:
df['Адрес'] = df['Адрес'].apply(lambda x: x.split(', ')[0] if type(x) != float else x)

In [6]:
df['Адрес'].value_counts()

Москва                19737
Санкт-Петербург        3028
Краснодарский край      603
Name: Адрес, dtype: int64

In [7]:
df_msk = df[df['Адрес'] == 'Москва']

In [10]:
df_msk['Адрес'].value_counts()

Москва    19737
Name: Адрес, dtype: int64

### Заполняем пропущенные значения в столбце "Парковка"

In [8]:
df_msk['Парковка'].fillna('отсутствует', inplace=True)

/tmp/ipykernel_44542/2255486882.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_msk['Парковка'].fillna('отсутствует', inplace=True)

In [9]:
pd.DataFrame(df_msk['Парковка'].value_counts(dropna=False))

                Парковка
отсутствует        11174
наземная            5283
подземная           2466
открытая             713
многоуровневая       100
на крыше               1

### Заполняем пропущенные значения в столбце "Ремонт"

In [10]:
df_msk['Ремонт'].fillna(method='ffill', inplace=True)

/tmp/ipykernel_44542/2784712633.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_msk['Ремонт'].fillna(method='ffill', inplace=True)

In [11]:
pd.DataFrame(df_msk['Ремонт'].value_counts(dropna=False))

               Ремонт
Косметический    8271
Евроремонт       8161
Дизайнерский     3151
Без ремонта       154

### Переводим значения в столбце "Высота потолков" в единую СИ

In [12]:
df_msk['Высота потолков, м'] = np.where(df_msk['Высота потолков, м'] > 100, df_msk['Высота потолков, м']/100, df_msk['Высота потолков, м'])

/tmp/ipykernel_44542/2595376364.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_msk['Высота потолков, м'] = np.where(df_msk['Высота потолков, м'] > 100, df_msk['Высота потолков, м']/100, df_msk['Высота потолков, м'])

### Избавляемся от выбросов, заполняем их медианными значениями

In [13]:
df_msk['Высота потолков, м'] = np.where(df_msk['Высота потолков, м'] > 5, df_msk['Высота потолков, м'].median(), df_msk['Высота потолков, м']) # если высота потолка > 5м

/tmp/ipykernel_44542/4234304640.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_msk['Высота потолков, м'] = np.where(df_msk['Высота потолков, м'] > 5, df_msk['Высота потолков, м'].median(), df_msk['Высота потолков, м']) # если высота потолка > 5м

In [14]:
df_msk['Высота потолков, м'] = np.where(df_msk['Высота потолков, м'] < 2, df_msk['Высота потолков, м'].median(), df_msk['Высота потолков, м']) # если высота потолка < 2м

/tmp/ipykernel_44542/2457321688.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_msk['Высота потолков, м'] = np.where(df_msk['Высота потолков, м'] < 2, df_msk['Высота потолков, м'].median(), df_msk['Высота потолков, м']) # если высота потолка < 2м

### Заполняем пропущенные значения

In [15]:
df_msk['Высота потолков, м'].fillna(round(df_msk['Высота потолков, м'].mean(), 2), inplace=True)

/tmp/ipykernel_44542/169344751.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_msk['Высота потолков, м'].fillna(round(df_msk['Высота потолков, м'].mean(), 2), inplace=True)

In [16]:
pd.DataFrame(df_msk['Высота потолков, м'].value_counts(dropna=False))

      Высота потолков, м
2.75                9358
2.64                4492
3.00                1191
2.70                 929
2.48                 675
...                  ...
2.73                   1
4.05                   1
2.52                   1
2.43                   1
3.21                   1

[73 rows x 1 columns]

### Обрабатываем колонку "Балкон"

In [17]:
df_msk['Балкон'] = df_msk['Балкон'].fillna('Балкон (0), Лоджия (0)') # заполняем пустые значения
df_msk['Кол-во лоджий'] = [row.split(' ')[-1] if (row.split(' ')[-2]) == 'Лоджия' else '(0)' for row in df_msk['Балкон']] # добавляем колонку 'Кол-во лоджий'
df_msk['Кол-во балконов'] = [row.split(' ')[1] if row.split(' ')[0] == 'Балкон' else '(0)' for row in df_msk['Балкон']] # добавляем колонку 'Кол-во балконов'

/tmp/ipykernel_44542/502408451.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_msk['Балкон'] = df_msk['Балкон'].fillna('Балкон (0), Лоджия (0)') # заполняем пустые значения
/tmp/ipykernel_44542/502408451.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_msk['Кол-во лоджий'] = [row.split(' ')[-1] if (row.split(' ')[-2]) == 'Лоджия' else '(0)' for row in df_msk['Балкон']] # добавляем колонку 'Кол-во лоджий'
/tmp/ipykernel_44542/502408451.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_msk['Кол-во балконов'] = [row.split(' ')[1] if row.split(' ')[0] == 'Балкон' else '(0)' for row in df_msk['Балкон']] # добавляем колонку 'Кол-во балконов'

In [18]:
# заполняем колонки значениями типа int
df_msk['Кол-во лоджий'] = [row.split('(')[1] for row in df_msk['Кол-во лоджий']]
df_msk['Кол-во лоджий'] = [int(row.split(')')[0]) for row in df_msk['Кол-во лоджий']]
df_msk['Кол-во балконов'] = [row.split('(')[1] for row in df_msk['Кол-во балконов']]
df_msk['Кол-во балконов'] = [int(row.split(')')[0]) for row in df_msk['Кол-во балконов']]

/tmp/ipykernel_44542/2452673899.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_msk['Кол-во лоджий'] = [row.split('(')[1] for row in df_msk['Кол-во лоджий']]
/tmp/ipykernel_44542/2452673899.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_msk['Кол-во лоджий'] = [int(row.split(')')[0]) for row in df_msk['Кол-во лоджий']]
/tmp/ipykernel_44542/2452673899.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_msk['Кол-во балконов'] = [row.split('(')[1] for row in df_msk['Кол-во балконов']]
/tmp/ipykernel_44542/2452673899.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_msk['Кол-во балконов'] = [int(row.split(')')[0]) for row in df_msk['Кол-во балконов']]

In [19]:
pd.DataFrame(df_msk[['Кол-во балконов', 'Кол-во лоджий']].value_counts(dropna=False))

                                  0
Кол-во балконов Кол-во лоджий
0               0              6630
1               0              6336
0               1              5032
1               1               610
0               2               537
2               0               423
3               0                45
0               3                42
1               2                21
2               2                21
                1                16
0               4                 5
4               0                 4
1               3                 4
3               1                 4
2               3                 3
1               4                 2
3               3                 1
4               4                 1

### Количество комнат¶

Оставляем только NaN и количество комнат, затем заменяем NaN на медиану и приводит все в тип int

In [20]:
df_msk['Количество комнат'].value_counts(dropna=False)

1                   6646
2, Изолированная    4149
2                   2228
3                   1463
3, Изолированная    1404
3, Оба варианта      721
4                    601
2, Смежная           571
NaN                  535
2, Оба варианта      459
5                    214
4, Оба варианта      209
4, Изолированная     188
6                     83
3, Смежная            80
5, Оба варианта       75
5, Изолированная      40
6, Оба варианта       26
6, Изолированная      16
4, Смежная            13
1, Изолированная       6
5, Смежная             4
6, Смежная             3
1, Оба варианта        2
1, Смежная             1
Name: Количество комнат, dtype: int64

In [21]:
df_msk['Количество комнат'] = df_msk['Количество комнат'].apply(lambda x: float(x.split(', ')[0]) if type(x) != float else x)

/tmp/ipykernel_44542/373921488.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_msk['Количество комнат'] = df_msk['Количество комнат'].apply(lambda x: float(x.split(', ')[0]) if type(x) != float else x)

In [22]:
df_msk['Количество комнат'].fillna(df_msk['Количество комнат'].median(), inplace=True)

/tmp/ipykernel_44542/2402976708.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_msk['Количество комнат'].fillna(df_msk['Количество комнат'].median(), inplace=True)

In [23]:
df_msk['Количество комнат'] = df_msk['Количество комнат'].astype(int)

/tmp/ipykernel_44542/2925263063.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_msk['Количество комнат'] = df_msk['Количество комнат'].astype(int)

In [24]:
df_msk.dtypes

ID  объявления                int64
Количество комнат             int64
Метро                        object
Адрес                        object
Площадь, м2                  object
Дом                          object
Парковка                     object
Цена                         object
Ремонт                       object
Балкон                       object
Окна                         object
Санузел                      object
Можно с детьми/животными     object
Дополнительно                object
Высота потолков, м          float64
Лифт                         object
Мусоропровод                 object
Кол-во лоджий                 int64
Кол-во балконов               int64
dtype: object

In [25]:
df_msk['Количество комнат'].value_counts(dropna=False)

2    7942
1    6655
3    3668
4    1011
5     333
6     128
Name: Количество комнат, dtype: int64

### Колонка "Окна"¶

NaN значения заполним Модой, поскольку это категориальный признак

In [26]:
df_msk['Окна'].value_counts(dropna=False)

Во двор            9708
NaN                5150
На улицу и двор    2762
На улицу           2117
Name: Окна, dtype: int64

In [27]:
df_msk['Окна'].fillna(method='bfill', inplace=True)

/tmp/ipykernel_44542/2491616001.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_msk['Окна'].fillna(method='bfill', inplace=True)

In [28]:
df_msk['Окна'].value_counts(dropna=False)

Во двор            13132
На улицу и двор     3639
На улицу            2966
Name: Окна, dtype: int64

## Колонка "Можно с детьми/животными"¶

Разбили на две колонки "Можно с детьми" и "Можно с животными", со значениями 0 или 1

In [29]:
df_msk['Можно с детьми/животными'].value_counts(dropna=False)

Можно с детьми                       8540
Можно с детьми, Можно с животными    6075
NaN                                  4915
Можно с животными                     207
Name: Можно с детьми/животными, dtype: int64

In [30]:
df_msk['Можно с детьми/животными'].fillna('Нет', inplace=True)

/tmp/ipykernel_44542/1690785817.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_msk['Можно с детьми/животными'].fillna('Нет', inplace=True)

In [31]:
df_msk['Можно с детьми'] = 0
df_msk['Можно с животными'] = 0

/tmp/ipykernel_44542/3046704932.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_msk['Можно с детьми'] = 0
/tmp/ipykernel_44542/3046704932.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_msk['Можно с животными'] = 0

In [32]:
for item in df_msk['Можно с детьми/животными'].index:
    if 'Можно с детьми' in df_msk.loc[item, 'Можно с детьми/животными']:
        df_msk.loc[item, 'Можно с детьми'] = 1
    if 'Можно с животными' in df_msk.loc[item, 'Можно с детьми/животными']:
        df_msk.loc[item, 'Можно с животными'] = 1

In [33]:
df_msk.loc[:, ['Можно с детьми', 'Можно с животными']].isnull().sum()

Можно с детьми       0
Можно с животными    0
dtype: int64

In [34]:
df_msk.head()

,ID объявления,Количество комнат,Метро,Адрес,"Площадь, м2",Дом,Парковка,Цена,Ремонт,Балкон,...,Санузел,Можно с детьми/животными,Дополнительно,"Высота потолков, м",Лифт,Мусоропровод,Кол-во лоджий,Кол-во балконов,Можно с детьми,Можно с животными
0,271271157,4,м. Смоленская (9 мин пешком),Москва,200.0/20.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Дизайнерский,"Балкон (0), Лоджия (0)",...,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...",3.0,"Пасс (4), Груз (1)",Да,0,0,1,1
1,271634126,4,м. Смоленская (8 мин пешком),Москва,198.0/95.0/18.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Дизайнерский,"Балкон (0), Лоджия (0)",...,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",3.5,"Пасс (1), Груз (1)",Нет,0,0,1,0
2,271173086,4,м. Смоленская (7 мин пешком),Москва,200.0/116.0/4.0,5/16,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Евроремонт,"Балкон (0), Лоджия (0)",...,Совмещенный (3),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",3.2,Пасс (1),NaN,0,0,1,0
3,272197456,4,м. Смоленская (3 мин пешком),Москва,170.0/95.0/17.0,5/6,подземная,"400000.0 руб./ За месяц, Залог - 400000 руб., ...",Евроремонт,"Балкон (0), Лоджия (0)",...,Совмещенный (3),Можно с животными,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",3.2,Пасс (1),NaN,0,0,0,1
4,273614615,2,м. Арбатская (7 мин пешком),Москва,58.0/38.0/5.0,"12/26, Панельный",отсутствует,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",Евроремонт,"Балкон (0), Лоджия (0)",...,Совмещенный (2),Нет,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",3.9,"Пасс (1), Груз (1)",Да,0,0,0,0

## Колонка "Мусоропровод"

Заменим NaN

In [35]:
df_msk['Мусоропровод'].value_counts(dropna=False)

Да     10262
NaN     8007
Нет     1468
Name: Мусоропровод, dtype: int64

In [36]:
df_msk['Мусоропровод'].fillna('Нет', inplace=True)

/tmp/ipykernel_44542/466875136.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_msk['Мусоропровод'].fillna('Нет', inplace=True)

In [37]:
df_msk['Мусоропровод'].value_counts(dropna=False)

Да     10262
Нет     9475
Name: Мусоропровод, dtype: int64

## Колонка цена

In [38]:
stack = []
for row in df_msk['Цена']:
    stack.append(row)
stack_dol = []
stack_eur = []
index_eur = []
index_dol = []
for index, row in enumerate (stack):
    #print(index)
    if '€' in row:
        stack_eur.append(row)
        index_eur.append(index)
    elif '$' in row:
        stack_dol.append(row)
        index_dol.append(index)

#print(index_dol)
#print(index_eur)
df_msk["Цена за месяц числом"] = df_msk["Цена"].apply(lambda elem: elem.split(' ')[0])
df_msk["Цена залог"] = df_msk["Цена"].apply(lambda elem: elem.split("Залог -")[1].split(' ')[1] if 'Залог' in elem else 0)
df_msk['Комунальные услуги'] = df_msk["Цена"].apply(lambda elem: 'Да' if 'Коммунальные услуги включены' in elem else 'Нет')
for i in index_dol:
    df_msk["Цена за месяц числом"].iloc[i] = float(df_msk["Цена за месяц числом"].iloc[i]) * 75.91
    df_msk["Цена залог"].iloc[i] = float(df_msk["Цена залог"].iloc[i]) * 75.91

for i in index_eur:
    df_msk["Цена за месяц числом"].iloc[i] = float(df_msk["Цена за месяц числом"].iloc[i]) * 80.41
    df_msk["Цена залог"].iloc[i] = float(df_msk["Цена залог"].iloc[i]) * 80.41
    #print(df["Цена залог"].iloc[i])

df_msk["Цена за месяц числом"].value_counts(dropna=False)

/tmp/ipykernel_44542/2096593016.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_msk["Цена за месяц числом"] = df_msk["Цена"].apply(lambda elem: elem.split(' ')[0])
/tmp/ipykernel_44542/2096593016.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_msk["Цена залог"] = df_msk["Цена"].apply(lambda elem: elem.split("Залог -")[1].split(' ')[1] if 'Залог' in elem else 0)
/tmp/ipykernel_44542/2096593016.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_msk['Комунальные услуги'] = df_msk["Цена"].apply(lambda elem: 'Да' if 'Коммунальные услуги включены' in elem else 'Нет')
/tmp/ipykernel_44542/2096593016.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_msk["Цена за месяц числом"].iloc[i] = float(df_msk["Цена за месяц числом"].iloc[i]) * 75.91
/tmp/ipykernel_44542/2096593016.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_msk["Цена залог"].iloc[i] = float(df_msk["Цена залог"].iloc[i]) * 75.91
/tmp/ipykernel_44542/2096593016.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_msk["Цена за месяц числом"].iloc[i] = float(df_msk["Цена за месяц числом"].iloc[i]) * 80.41
/tmp/ipykernel_44542/2096593016.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_msk["Цена залог"].iloc[i] = float(df_msk["Цена залог"].iloc[i]) * 80.41

40000     1359
45000     1308
50000     1177
35000     1141
60000      807
          ...
89500        1
90400        1
450006       1
4900         1
199900       1
Name: Цена залог, Length: 522, dtype: int64

In [39]:
df_msk["Цена залог"].value_counts(dropna=False)

40000     1359
45000     1308
50000     1177
35000     1141
60000      807
          ...
89500        1
90400        1
450006       1
4900         1
199900       1
Name: Цена залог, Length: 522, dtype: int64

### Колонка Площадь, м2

In [43]:
# отсавляем только общую площадь
df_msk['Площадь, м2'] = df_msk['Площадь, м2'].apply(lambda elem: elem.split('/')[0])
df_msk['Площадь, м2'].value_counts(dropna=False)

40.0     1095
45.0      896
38.0      870
35.0      648
60.0      580
         ...
109.9       1
78.1        1
48.6        1
97.3        1
241.3       1
Name: Площадь, м2, Length: 917, dtype: int64

##  Колонка Санузел

In [47]:
df_msk['Санузел'] = df_msk['Санузел'].fillna('(1)')
def san_split(text):
    if 'Совмещенный' in text and 'Раздельный' in text:
        return 'Оба'
    elif 'Совмещенный' in text:
        return 'Совмещенный'
    elif 'Раздельный' in text:
        return 'Раздельный'
    else:
        return 'Нет'
#разьиваем колонку
df_msk['Тип санузла'] = df_msk['Санузел'].apply(san_split)
#считаем количество
pattern = r'\((\d+)\)'
numbers = [re.findall(pattern, s) for s in df_msk['Санузел']]
numbers = [sum([int(n) for n in ns]) for ns in numbers]
df_msk['Число санузлов'] = numbers
df_msk[['Санузел','Тип санузла','Число санузлов']]

                               Санузел  Тип санузла  Число санузлов
0                                  (1)          Нет               1
1      Совмещенный (2), Раздельный (1)          Оба               3
2                      Совмещенный (3)  Совмещенный               3
3                      Совмещенный (3)  Совмещенный               3
4                      Совмещенный (2)  Совмещенный               2
...                                ...          ...             ...
23363                  Совмещенный (1)  Совмещенный               1
23364                  Совмещенный (1)  Совмещенный               1
23365                  Совмещенный (1)  Совмещенный               1
23366  Совмещенный (1), Раздельный (1)          Оба               2
23367                   Раздельный (1)   Раздельный               1

[19737 rows x 3 columns]

* Разбиваем на две колонки тип санузла и число 
* Заполняем Nan '(1)'

### Колонка Метро

In [45]:

df_msk['Метро'] = df_msk['Метро'].fillna(method='bfill') 

new_df = df_msk['Метро'].str.split('(', n=1, expand=True)
new_df.columns = ['Название метро', 'Время до метро пешком']
df_msk['Время до метро пешком'] = new_df['Время до метро пешком'].str.extract('(\d+)')
df_msk['Название метро'] = new_df['Название метро']

df_msk[['Метро','Название метро','Время до метро пешком']]

                              Метро  Название метро Время до метро пешком
0      м. Смоленская (9 мин пешком)  м. Смоленская                      9
1      м. Смоленская (8 мин пешком)  м. Смоленская                      8
2      м. Смоленская (7 мин пешком)  м. Смоленская                      7
3      м. Смоленская (3 мин пешком)  м. Смоленская                      3
4       м. Арбатская (7 мин пешком)   м. Арбатская                      7
...                             ...             ...                   ...
23363    м. Говорово (8 мин пешком)    м. Говорово                      8
23364    м. Солнцево (7 мин пешком)    м. Солнцево                      7
23365    м. Солнцево (6 мин пешком)    м. Солнцево                      6
23366   м. Солнцево (11 мин пешком)    м. Солнцево                     11
23367   м. Говорово (10 мин пешком)    м. Говорово                     10

[19737 rows x 3 columns]

* Заполняем Nan занченями из следующей строки
* Разбиваем на две колонки содержащих название и время до метро

## Колонка Дом

In [46]:
df_msk['Дом'].value_counts(dropna=False)
# ячейка упрояющая разбивку
df_msk['Описание этажности'] = df_msk['Дом'].apply(lambda elem: elem.split(',')[0])
# разбиваем
df_msk['Этажность дома'] = df_msk['Описание этажности'].apply(lambda elem: elem.split('/')[1])
df_msk['Этаж квартиры'] = df_msk['Описание этажности'].apply(lambda elem: elem.split('/')[0])
df_msk['Тип дома'] = df_msk['Дом'].apply(lambda elem: elem.split(',')[1][1:] if len(elem) > 6 else 'Нет')
df_msk[['Дом','Этажность дома','Этаж квартиры', 'Тип дома']]
df_msk['Тип дома'].value_counts(dropna=False)

Панельный              6679
Кирпичный              3696
Монолитный             3615
Нет                    2971
Блочный                1689
Монолитно-кирпичный     872
Сталинский              141
старый фонд              68
Деревянный                5
Щитовой                   1
Name: Тип дома, dtype: int64

* Разбиваем на три колонки содержащих тип дома и этажность дома и этаж квартиры

## Лифт

In [48]:
df_msk['Лифт'] = df_msk['Лифт'].fillna('Нет')
def san_split(text):
    if 'Пасс' in text and 'Груз' in text:
        return 'Оба'
    elif 'Пасс' in text:
        return 'Пасс'
    elif 'Груз' in text:
        return 'Груз'
    else:
        return 'Нет'
#разьиваем колонку
df_msk['Тип лифта'] = df_msk['Лифт'].apply(san_split)
#считаем количество
pattern = r'\((\d+)\)'
numbers = [re.findall(pattern, s) for s in df_msk['Лифт']]
numbers = [sum([int(n) for n in ns]) for ns in numbers]
df_msk['Число лифтов'] = numbers
df_msk[['Лифт','Тип лифта','Число лифтов']]

                     Лифт Тип лифта  Число лифтов
0      Пасс (4), Груз (1)       Оба             5
1      Пасс (1), Груз (1)       Оба             2
2                Пасс (1)      Пасс             1
3                Пасс (1)      Пасс             1
4      Пасс (1), Груз (1)       Оба             2
...                   ...       ...           ...
23363  Пасс (1), Груз (1)       Оба             2
23364  Пасс (1), Груз (1)       Оба             2
23365                 Нет       Нет             0
23366            Пасс (3)      Пасс             3
23367            Пасс (3)      Пасс             3

[19737 rows x 3 columns]

* Разбиваем на две колонки тип лифта и число 
* Заполняем Nan 'Нет'