In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

### Читаем данные записываем в переменную df

In [2]:
df = pd.read_csv('_data.csv')

In [3]:
df

,Unnamed: 0,ID объявления,Количество комнат,Тип,Метро,Адрес,"Площадь, м2",Дом,Парковка,Цена,...,Окна,Санузел,Можно с детьми/животными,Дополнительно,Название ЖК,Серия дома,"Высота потолков, м",Лифт,Мусоропровод,Ссылка на объявление
0,0,271271157,4,Квартира,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0/20.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",...,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",NaN,3.00,"Пасс (4), Груз (1)",Да,https://www.cian.ru/rent/flat/271271157
1,1,271634126,4,Квартира,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0/95.0/18.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",...,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.50,"Пасс (1), Груз (1)",Нет,https://www.cian.ru/rent/flat/271634126
2,2,271173086,"4, Оба варианта",Квартира,м. Смоленская (7 мин пешком),"Москва, улица Новый Арбат, 27",200.0/116.0/4.0,5/16,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",...,На улицу и двор,Совмещенный (3),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.20,Пасс (1),NaN,https://www.cian.ru/rent/flat/271173086
3,3,272197456,"4, Оба варианта",Квартира,м. Смоленская (3 мин пешком),"Москва, переулок Плотников, 21С1",170.0/95.0/17.0,5/6,подземная,"400000.0 руб./ За месяц, Залог - 400000 руб., ...",...,На улицу и двор,Совмещенный (3),Можно с животными,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",NaN,NaN,3.20,Пасс (1),NaN,https://www.cian.ru/rent/flat/272197456
4,4,273614615,2,Квартира,м. Арбатская (7 мин пешком),"Москва, улица Новый Арбат, 15",58.0/38.0/5.0,"12/26, Панельный",NaN,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",...,На улицу и двор,Совмещенный (2),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",The Book,NaN,3.90,"Пасс (1), Груз (1)",Да,https://www.cian.ru/rent/flat/273614615
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23363,23363,215565511,NaN,Квартира,м. Говорово (8 мин пешком),"Москва, Боровское шоссе, 2к7, ш. Боровское (3 ...",35.0/16.4/8.0,10/14,NaN,"42000.0 руб./ За месяц, Залог - 42000 руб., Ко...",...,NaN,Совмещенный (1),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Сти...",Мещерский лес,NaN,NaN,"Пасс (1), Груз (1)",NaN,https://www.cian.ru/rent/flat/215565511
23364,23364,274654844,1,Квартира,м. Солнцево (7 мин пешком),"Москва, Производственная улица, 8к1, ш. Боровс...",38.7/16.5/11.0,"5/18, Монолитный",NaN,"45000.0 руб./ За месяц, Залог - 45000 руб., Ко...",...,Во двор,Совмещенный (1),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Сти...",Лучи,NaN,NaN,"Пасс (1), Груз (1)",NaN,https://www.cian.ru/rent/flat/274654844
23365,23365,268679909,"2, Оба варианта",Квартира,м. Солнцево (6 мин пешком),"Москва, Боровский проезд, 11",43.1,"5/5, Кирпичный",NaN,"50000.0 руб./ За месяц, Залог - 50000 руб., Ко...",...,На улицу и двор,Совмещенный (1),Можно с детьми,"Мебель на кухне, Душевая кабина, Стиральная ма...",NaN,NaN,NaN,NaN,NaN,https://www.cian.ru/rent/flat/268679909
23366,23366,274807525,2,Квартира,м. Солнцево (11 мин пешком),"Москва, улица Богданова, 6к1, ш. Боровское (3 ...",52.5/10.0,"8/23, Монолитный",наземная,"55000.0 руб./ За месяц, Залог - 50000 руб., Ко...",...,Во двор,"Совмещенный (1), Раздельный (1)",NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Сти...",NaN,NaN,2.65,Пасс (3),Да,https://www.cian.ru/rent/flat/274807525
23367,23367,274672243,"2, Оба варианта",Квартира,м. Говорово (10 мин пешком),"Москва, улица Богданова, 2к1, ш. Боровское (3 ...",90.0/48.2/15.5,"6/23, Панельный",NaN,"57000.0 руб./ За месяц, Залог - 60000 руб., Ко...",...,Во двор,Раздельный (1),"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Сти...",NaN,NaN,NaN,Пасс (3),Да,https://www.cian.ru/rent/flat/274672243

### Удаляем незначемые колонки

In [4]:
df = df.drop(columns=['Тип', 'Телефоны', 'Описание', 'Unnamed: 0', 'Серия дома', 'Ссылка на объявление', 'Название ЖК', 'Площадь комнат, м2'])

In [5]:
df.head()

,ID объявления,Количество комнат,Метро,Адрес,"Площадь, м2",Дом,Парковка,Цена,Ремонт,Балкон,Окна,Санузел,Можно с детьми/животными,Дополнительно,"Высота потолков, м",Лифт,Мусоропровод
0,271271157,4,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0/20.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Дизайнерский,NaN,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...",3.0,"Пасс (4), Груз (1)",Да
1,271634126,4,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0/95.0/18.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Дизайнерский,NaN,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",3.5,"Пасс (1), Груз (1)",Нет
2,271173086,"4, Оба варианта",м. Смоленская (7 мин пешком),"Москва, улица Новый Арбат, 27",200.0/116.0/4.0,5/16,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Евроремонт,NaN,На улицу и двор,Совмещенный (3),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",3.2,Пасс (1),NaN
3,272197456,"4, Оба варианта",м. Смоленская (3 мин пешком),"Москва, переулок Плотников, 21С1",170.0/95.0/17.0,5/6,подземная,"400000.0 руб./ За месяц, Залог - 400000 руб., ...",Евроремонт,NaN,На улицу и двор,Совмещенный (3),Можно с животными,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",3.2,Пасс (1),NaN
4,273614615,2,м. Арбатская (7 мин пешком),"Москва, улица Новый Арбат, 15",58.0/38.0/5.0,"12/26, Панельный",NaN,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",Евроремонт,NaN,На улицу и двор,Совмещенный (2),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",3.9,"Пасс (1), Груз (1)",Да

### Фильтруем DataFrame по Москве

In [6]:
df['Адрес'].value_counts()

Москва, Чапаевский переулок, 3                                       63
Москва, улица Василисы Кожиной, 13                                   46
Москва, улица 1-я Леонова, 18                                        42
Москва, Мосфильмовская улица, 8                                      37
Москва, Гостиничный проезд, 8К1                                      32
                                                                     ..
Краснодарский край, Сочи, Центральный мкр, улица Навагинская, 11А     1
Краснодарский край, Сочи, Центральный мкр, улица Нагорная, 19А        1
Краснодарский край, Сочи, Вишневая улица, 4                           1
Краснодарский край, Сочи, Заречный мкр, улица Чайковского, 2          1
Москва, Боровский проезд, 11                                          1
Name: Адрес, Length: 12850, dtype: int64

In [7]:
df['Адрес'] = df['Адрес'].apply(lambda x: x.split(', ')[0] if type(x) != float else x)

In [8]:
df['Адрес'].value_counts()

Москва                19737
Санкт-Петербург        3028
Краснодарский край      603
Name: Адрес, dtype: int64

In [9]:
df_msk = df[df['Адрес'] == 'Москва']

In [10]:
df_msk['Адрес'].value_counts()

Москва    19737
Name: Адрес, dtype: int64

### Заполняем пропущенные значения в столбце "Парковка"

In [11]:
df['Парковка'].fillna('отсутствует', inplace=True)

In [12]:
pd.DataFrame(df['Парковка'].value_counts(dropna=False))

                Парковка
отсутствует        13417
наземная            6043
подземная           2772
открытая            1017
многоуровневая       118
на крыше               1

### Заполняем пропущенные значения в столбце "Ремонт"

In [13]:
df['Ремонт'].fillna(method='ffill', inplace=True)

In [14]:
pd.DataFrame(df['Ремонт'].value_counts(dropna=False))

               Ремонт
Евроремонт       9781
Косметический    9479
Дизайнерский     3919
Без ремонта       189

### Переводим значения в столбце "Высота потолков" в единую СИ

In [15]:
df['Высота потолков, м'] = np.where(df['Высота потолков, м'] > 100, df['Высота потолков, м']/100, df['Высота потолков, м'])

### Избавляемся от выбросов, заполняем их медианными значениями

In [16]:
df['Высота потолков, м'] = np.where(df['Высота потолков, м'] > 5, df['Высота потолков, м'].median(), df['Высота потолков, м']) # если высота потолка > 5м

In [17]:
df['Высота потолков, м'] = np.where(df['Высота потолков, м'] < 2, df['Высота потолков, м'].median(), df['Высота потолков, м']) # если высота потолка < 2м

### Заполняем пропущенные значения

In [18]:
df['Высота потолков, м'].fillna(round(df['Высота потолков, м'].mean(), 2), inplace=True)

In [19]:
pd.DataFrame(df['Высота потолков, м'].value_counts(dropna=False))

      Высота потолков, м
2.76               12164
2.64                4493
3.00                1322
2.70                1040
2.48                 676
...                  ...
3.07                   1
4.15                   1
4.05                   1
2.43                   1
3.02                   1

[78 rows x 1 columns]

### Обрабатываем колонку "Балкон"

In [20]:
df['Балкон'] = df['Балкон'].fillna('Балкон (0), Лоджия (0)') # заполняем пустые значения
df['Кол-во лоджий'] = [row.split(' ')[-1] if (row.split(' ')[-2]) == 'Лоджия' else '(0)' for row in df['Балкон']] # добавляем колонку 'Кол-во лоджий'
df['Кол-во балконов'] = [row.split(' ')[1] if row.split(' ')[0] == 'Балкон' else '(0)' for row in df['Балкон']] # добавляем колонку 'Кол-во балконов'

In [21]:
# заполняем колонки значениями типа int
df['Кол-во лоджий'] = [row.split('(')[1] for row in df['Кол-во лоджий']]
df['Кол-во лоджий'] = [int(row.split(')')[0]) for row in df['Кол-во лоджий']]
df['Кол-во балконов'] = [row.split('(')[1] for row in df['Кол-во балконов']]
df['Кол-во балконов'] = [int(row.split(')')[0]) for row in df['Кол-во балконов']]

In [22]:
pd.DataFrame(df[['Кол-во балконов', 'Кол-во лоджий']].value_counts(dropna=False))

                                  0
Кол-во балконов Кол-во лоджий
0               0              7978
1               0              7428
0               1              6007
1               1               716
0               2               568
2               0               474
3               0                55
0               3                45
2               2                25
1               2                24
2               1                20
4               0                 6
0               4                 5
1               3                 5
3               1                 5
2               3                 3
1               4                 2
3               3                 1
4               4                 1